/* id card styles*/
:root {
    --id-card-banner-bg: rgba(255, 255, 255, 0.733);
    --id-card-header-img-bg: url("/images/id-top.png");
}

.student-id-card {
    width: 504px !important;
    height: 824px !important;
}
.student-id-card #id-qrcode {
    margin: auto !important;
}
.student-id-card #id-qrcode * {
    margin: auto !important;
}
.student-id-card #id-qrcode img {
    margin: auto !important;
}
.student-id-card.front {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.student-id-card .id-header {
    background-image: var(--id-card-header-img-bg);
    background-size: cover;
    background-color: white !important;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 35%;
    padding-top: 15px !important;
    box-sizing: border-box;
    border: none !important;
}

.student-id-card .id-header .student-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    background-color: rgb(255, 255, 255) !important;
    top: 100px;
    z-index: 100 !important;
}
/* id card banner */
.student-id-card .id-header .inner {
    background: var(--id-card-banner-bg);
    padding: 10px 15px;
    /* border-top: 2px solid rgb(30, 30, 30); */
    /* border-bottom: 2px solid rgb(30, 30, 30); */
}
.student-id-card .id-header .inner .text {
    margin-left: 110px !important;
}
.student-id-card .id-header .inner .text p {
    font-size: 0.8rem !important;
}
/* id card school logo */
.student-id-card .id-header .id-logo {
    position: absolute;
    left: 10px;
    width: 100px;
    top: 50%;
    transform: translateY(-50%);
}
.student-id-card .id-label {
    margin: 0 !important;
}
.student-id-card .id-label small {
    font-family: "Outfit";
    font-size: 0.8rem !important;
}
.student-id-card .id-footer {
    position: absolute;
    width: 100%;
    padding: 15px;
    bottom: 0 !important;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(to right, #0b0b2e, #28269d); */
}
.student-id-card .id-body {
    background-image: url("/images/id-card-bg.png");
    background: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.student-id-container {
    scale: 90%;
}

.student-id-card .signature {
    width: 250px;
    left: 50%;
    transform: translateX(-50%);
    top: -35px;
    z-index: 99;
}

@media screen and (max-width: 768px) {
    .student-id-card {
        scale: 50% !important;
    }
}
